.phrase_cont {
    min-width: 280px;
    max-width: 525px;
    padding: 70px 33px;
    background-image: linear-gradient(0deg, rgba(227, 252, 255, 0.170), rgba(255, 255, 255, 0.815));
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: black;
    border-radius: 39px;
}
@media screen and (min-width: 320px) {
    .phrase_cont {
        max-width: 310px;
        padding: 10px 5px;
    }
}
@media screen and (min-width: 768px) {
    .phrase_cont {
        max-width: 525px;
        padding: 70px 33px;
    }
}
@media screen and (min-width: 1440px) {
    .phrase_cont {
        max-width: 700px;
        padding: 80px 43px;
        font-size: 30px;
    }
}
@media screen and (min-width: 2560px) {
    .phrase_cont {
        max-width: 1250px;
        padding: 90px 53px;
        font-size: 50px;
    }
}