body {
  background-color: black;
}
h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}
._app_cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Space Grotesk', sans-serif;
  color: rgba(234, 255, 255, 0.801);
}
.s_btn_cont{
  display: flex;
  justify-content: center;
  align-items: center;
}
.q_cont {
  min-width: 280px;
  min-height: 55px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.400);
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.460);
  font-weight: 500;
  border: none;
  border-radius: 20px;
}
@media screen and (min-width: 320px) {
  ._app_cont {
    max-width: 100vw;
    max-height: 100vh;
  }
  h1 {
    margin: 5px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    margin: 25px;
  }
  .q_cont {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    margin: 25px;
    font-size: 85px;
  }
  .q_cont {
    font-size: 30px;
    padding: 20px;
  }
}
@media screen and (min-width: 2560px) {
  h1 {
    margin: 45px;
    font-size: 155px;
  }
  .q_cont {
    font-size: 40px;
    padding: 30px;
  }
}